<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Odin Project Facebook Clone, <%= @user.name %></h1>
    <p>
      Youraccount has been successfully created.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>. Make sure to search for and connect with your friends!
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>