<% unless @notifications.empty? %>
    <h3 class="is-size-3 has-text-centered mb-2">Notifications</h3>
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <% @notifications.each do |notification| %>
                <div class="notification p-2">
                    <div class="columns">
                        <%= render find_view(notification.notifiable_type), notification: notification %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
<% else %>
    <h3 class="is-size-3 has-text-centered">You have no new notifications</h3>
<% end %>